$black: #202324;
$navBackground: #1b2733;
$navForeground: #313340;
$darkBlueColor: #027bc7;
$blueColor: #008ad3;
$lightBlueColor: #3ba0f3;
$pastelBlueColor: #b1d9fa;
$paleBlueColor: #2888c3;
$darkGreenColor: #37b099;
$lightGreenColor: #1abc9c;
$pastelGreenColor: #95e0d1;
$paleGreenColor: #68c182;
$backgroundColor: #e8e9ef;
$lightBackgroundColor: #f7f8f9;
$fontColor: #637282;
$fontColorOverBlue: #c4e3fb;
$whiteColor: #fff;
$warningColor: #f1c40f;
$darkRedColor: #c0392b;
$redColor: #e74c3c;
$pastelRedColor: #ffc2b3;
$violet: #a45eb6;
$darkViolet: #8e44ad;
$orangeColor: #f39c12;
$paleGreyColor: #637282;
$healthyGreenColor: #5fc586;
$recoverableOrangeColor: #f76045;
$failedPinkColor: #ec71b0;
$successBlueColor: #4d8c9f;
$icon: #878c90;
$iconHover: #85bbe7;
$iconActive: #0572ce;
$greyButton: #737580;
$greyButtonHover: #9fa2b1;
$greyButtonActive: #5c5d66;