<link rel="stylesheet" id="css" href="oracle/ics/webconsole/view/js/jet/css/dialog.css">        
<div class="oj-dialog-body">
    <div class="header1" id="alias" data-bind="text: alias"></div>
    <div class="separator20"></div>
    <div class="oj-form-layout">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
            <div class="oj-flex">
                <div class="oj-flex-item labelDiv">
                    <label class="label1" for="control1" id="label1" data-bind="text: aname"></label>
                </div>
                <div class="oj-flex-item">
                    <span id="control1" data-bind="text: _name"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="separator20"></div>
    <div class="header1" id="subject" data-bind="text: subject"></div>
    <div class="separator20"></div>
    <div class="oj-form-layout">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
            <div class="oj-flex">
                <div class="oj-flex-item labelDiv">
                    <label class="label1" for="control2" id="label2" data-bind="text: cname"></label>
                </div>
                <div class="oj-flex-item">
                    <span id="control2" data-bind="text: _cname"></span>
                </div>
            </div>            
            <div class="oj-flex">
                <div class="oj-flex-item labelDiv">
                    <label class="label1" for="control3" id="label3" data-bind="text: orgu"></label>
                </div>
                <div class="oj-flex-item">
                    <span id="control3" data-bind="text: _orgu"></span>
                </div>
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item labelDiv">
                    <label class="label1" for="control4" id="label4" data-bind="text: org"></label>
                </div>
                <div class="oj-flex-item">
                    <span id="control4" data-bind="text: _org"></span>
                </div>
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item labelDiv">
                    <label class="label1" for="control5" id="label5" data-bind="text: town"></label>
                </div>
                <div class="oj-flex-item">
                    <span id="control5" data-bind="text: _town"></span>
                </div>
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item labelDiv">
                    <label class="label1" for="control6" id="label6" data-bind="text: state"></label>
                </div>
                <div class="oj-flex-item">
                    <span id="control6" data-bind="text: _state"></span>
                </div>
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item labelDiv">
                    <label class="label1" for="control7" id="label7" data-bind="text: country"></label>
                </div>
                <div class="oj-flex-item">
                    <span id="control7" data-bind="text: _country"></span>
                </div>
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item labelDiv">
                    <label class="label1" for="control8" id="label8" data-bind="text: ctype"></label>
                </div>
                <div class="oj-flex-item">
                    <span id="control8" data-bind="text: _ctype"></span>
                </div>
            </div>            
        </div>
    </div>
    <div class="separator20"></div>
    <div class="header1" id="issuedby" data-bind="text: issuedby"></div>
    <div class="separator20"></div>
    <div class="oj-form-layout">
        <div class="oj-form oj-sm-odd-cols-12 oj-md-odd-cols-4 oj-md-labels-inline">
            <div class="oj-flex">
                <div class="oj-flex-item labelDiv">
                    <label class="label1" for="control9" id="label9" data-bind="text: cnameib"></label>
                </div>
                <div class="oj-flex-item">
                    <span id="control9" data-bind="text: _cnameib"></span>
                </div>
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item labelDiv">
                    <label class="label1" for="control10" id="label10" data-bind="text: orguib"></label>
                </div>
                <div class="oj-flex-item">
                    <span id="control10" data-bind="text: _orguib"></span>
                </div>
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item labelDiv">
                    <label class="label1" for="control11" id="label11" data-bind="text: orgib"></label>
                </div>
                <div class="oj-flex-item">
                    <span id="control11" data-bind="text: _orgib"></span>
                </div>
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item labelDiv">
                    <label class="label1" for="control12" id="label12" data-bind="text: townib"></label>
                </div>
                <div class="oj-flex-item">
                    <span id="control12" data-bind="text: _townib"></span>
                </div>
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item labelDiv">
                    <label class="label1" for="control13" id="label13" data-bind="text: stateib"></label>
                </div>
                <div class="oj-flex-item">
                    <span id="control13" data-bind="text: _stateib"></span>
                </div>
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item labelDiv">
                    <label class="label1" for="control14" id="label14" data-bind="text: countryib"></label>
                </div>
                <div class="oj-flex-item">
                    <span id="control14" data-bind="text: _countryib"></span>
                </div>
            </div>
            <div class="oj-flex">
                <div class="oj-flex-item labelDiv">
                    <label class="label1" for="control15" id="label15" data-bind="text: issued"></label>
                </div>
                <div class="oj-flex-item">
                    <span id="control15" data-bind="text: _issued"></span>
                </div>
            </div>   
            <div class="oj-flex">
                <div class="oj-flex-item labelDiv">
                    <label class="label1" for="control16" id="label16" data-bind="text: expires"></label>
                </div>
                <div class="oj-flex-item">
                    <span id="control16" data-bind="text: _expires"></span>
                </div>
            </div>              
        </div>
    </div>
</div>
<div class="oj-dialog-footer">    
    <button id="dlgCloseBtn" data-bind="ojComponent: {component: 'ojButton', label: closeButtonLabel}, click: close.bind(this)"
            style="margin-right: 10px;"
            class="oj-button oj-component oj-enabled oj-button-full-chrome oj-button-text-only oj-component-initnode oj-default jm-dialog-cancel-button">
    </button>
</div>